{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

{{! <div class='p-5 box'>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <h2 id='user'>This is test text</h2>
  <button
    type='button'
    class='btn btn-warning text-light'
  >Купити</button>
  <p>Text test text test</p>

</div>
<section class='p-5'>
  <div>
    <em>Test text text text text</em>
  </div>
  <a class='btn child'>Later</a>
</section> }}

<div class='card p-5 m-5'>
  <ul>
    <li class='item'>11111</li>
    <li class='item'>22222</li>
    <li class='item'>3333</li>
    <p>text</p>
    <p>test text</p>
    <li class='item'>44444</li>
    <p>test test test test</p>
  </ul>
</div>

<div class='card p-5 m-5'>
  <input class='input-dark' required />
  <input class='input-dark' type='number' />
  <input
    class='input-dark'
    placeholder='This is text yellow'
  />
</div>

<div class='card p-5 m-5'>
  <img
    alt='image small card 300px'
    class='small-img'
    src='https://picsum.photos/200/300'
    width='300px'
    height='300px'
  />
  <br />
  <button class='btn'>Click me</button>
  <br />
  <a
    class='btn btn-secondary'
    href='https://picsum.photos/200/300'
  >Push</a>
</div>
<div class='card p-5 m-5'>
  <p class='big-text'>Test textbig-text
    txeyuysytdfjhsdghfgkshgfkdgkgdrsgkdhsfgkdfhgkdfjhgkdfjgkdfjhgkrktgtlrugdfjgdsgjhgfgfsdj
    msfgsyfkeyfka kuttyerutyeru</p>
</div>