<main class='p-5'>
  <div class='card p-5'>
    <div class='row'>
      <div class='col-2'>
        <h1>Text properties</h1>
      </div>

      <div class='col-6'>
        <p id='test'>In this tutorial, we’ll discuss the
          commands that we most frequently use when working
          with Git. We'll start with installation and
          configuration and then create our first local
          repository. Next, we'll learn how to commit
          changes and synchronize them with a remote
          repository. Additionally, we'll discuss branching
          and also learn some advanced techniques like
          amending commits and manipulating the commit
          history.</p>
        <p id='test3'>
          In this tutorial, we’ll discuss the commands that
          we most frequently use when working with Git.</p>

      </div>
      <div class='col-4'>
        <p id='test2'>In this tutorial, we’ll discuss the
          commands that we most frequently use when working
          with Git. We'll start with installation and
          configuration and then create our first local
          repository. Next, we'll learn how to commit
          changes and synchronize them with a remote
          repository. Additionally, we'll discuss branching
          and also learn some advanced techniques like
          amending commits and manipulating the commit
          history.</p>
      </div>
    </div>
  </div>

  <div id='pre'>
    <pre>
      We'll start with installation and configuration and
      then create our first local repository.
    </pre>
    <span>
      We'll start with installation and configuration and
      then create our first local repository.</span>
    <span class='test4'>
      We'll start with installation and configuration and
      then create our first local repository.</span>
  </div>

  <div style='margin:50px 0'>Block</div>
  <div>Block</div>
  <div>Block</div>
  <div>Block</div>

  <div
    style='padding: 20px 60px 20px 60px; background:rgb(176, 173, 173);'
  >
    <span>Inline</span>
    <span>Inline</span>
    <span>Inline</span>

    <span class='block'>Inline-block</span>
  </div>

  <div>Block</div>

</main>