html {
  max-width: 960px;
}

.card {
  background-color: rgb(186, 252, 252);
}
.card > p {
  color: green;
  -webkit-text-fill-color: rgb(43, 226, 214);
  -webkit-text-stroke: 1px rgb(0, 17, 255);
}

h1 {
  writing-mode: vertical-lr;
  color: rgb(14, 158, 171);
}
#test2:hover {
  -webkit-text-fill-color: rgb(43, 226, 208);
  -webkit-text-stroke: 1px rgb(134, 62, 125);
  direction: rtl;
  text-transform: uppercase;
}
#test {
  color: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-text-stroke: inherit;
  text-align: left justify;

  text-decoration: underline wavy rgb(7, 104, 83);
}
#test3:hover {
  color: rgb(8, 46, 150);
  letter-spacing: 5px;
}
pre {
  tab-size: 1;
  text-decoration: underline solid red;
}
#test2 {
  font-family: 'Roboto', sans-serif;
  font-size: small;
}
span {
  font-size: larger;
  font-weight: lighter;
  font-style: oblique;
}
.test4 {
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
