{{#with data}}

  <div class='articles_content' id='{{id}}'>
    <img
      src='{{photo}}'
      alt='Image of article'
      class='articles_image'
    />
    <h6 class='articles_name'>{{name}}</h6>
    <p class='articles_description'>{{description}}</p>
    <a href='#' class='articles_button'>Read All</a>
  </div>
{{/with}}